.responseDataItem
  display: flex
  flex-direction: column
  gap: 10px

.responseInfo
  margin-bottom: 12px
  display: flex
  column-gap: 30px

.responseCode
  font-style: 20px
  font-weight: bold

.responseCodeSuccess
  color: #07cb24

.responseCodeFail
  color: red

.jsonBody
  width: 300px
  min-height: 200px
